<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>bookstore</display-name>
	
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.zj.bookstore.user.web.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>com.zj.bookstore.category.web.servlet.CategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/CategoryServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>com.zj.bookstore.book.web.servlet.BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/BookServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CartServlet</servlet-name>
		<servlet-class>com.zj.bookstore.cart.web.servlet.CartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartServlet</servlet-name>
		<url-pattern>/CartServlet</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.zj.bookstore.order.web.servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/OrderServlet</url-pattern>
	</servlet-mapping>
	
	
	<!-- 后台管理servlet的配置 -->
	<!-- 后台分类管理模块的servlet配置 -->
	<servlet>
		<servlet-name>AdminCategoryServlet</servlet-name>
		<servlet-class>com.zj.bookstore.category.web.servlet.admin.AdminCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminCategoryServlet</servlet-name>
		<url-pattern>/admin/AdminCategoryServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 后台图书管理模块的servlet配置 -->
	<servlet>
		<servlet-name>AdminBookServlet</servlet-name>
		<servlet-class>com.zj.bookstore.book.web.servlet.admin.AdminBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminBookServlet</servlet-name>
		<url-pattern>/admin/AdminBookServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 后台图书管理模块的上传servlet配置 -->
	<servlet>
		<servlet-name>AdminAddBookServlet</servlet-name>
		<servlet-class>com.zj.bookstore.book.web.servlet.admin.AdminAddBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminAddBookServlet</servlet-name>
		<url-pattern>/admin/AdminAddBookServlet</url-pattern>
	</servlet-mapping>
	
	<!-- 后台订单管理模块的servlet配置 -->
	<servlet>
		<servlet-name>AdminOrderServlet</servlet-name>
		<servlet-class>com.zj.bookstore.order.web.servlet.admin.AdminOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminOrderServlet</servlet-name>
		<url-pattern>/admin/AdminOrderServlet</url-pattern>
	</servlet-mapping>
	
	
	<!-- 前台登录过滤器 -->
	<filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.zj.bookstore.user.web.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/jsps/cart/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/jsps/order/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>CartServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<servlet-name>OrderServlet</servlet-name>
	</filter-mapping>
	
</web-app>